/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-feb-2016, 11:38:11
    Author     : mcasallas
*/

.ui-filter-inset {
    margin-top: 0;
}

.delete-entity{
    background-color: #ff0000!important;
}